BUILD/*
CMAKE/*
EXTERN/CMAKE/*
build/*
EXE/UNITY/BIN/*

EXE/UNITY/[Ll]ibrary/
EXE/UNITY/[Tt]emp/
EXE/UNITY/[Oo]bj/
EXE/UNITY/[Bb]uild/
EXE/UNITY/[Bb]uilds/
EXE/UNITY/[Ll]ogs/
EXE/UNITY/.vsconfig
/[Uu]ser[Ss]ettings/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

EXE/UNITY/*.pidb.meta
EXE/UNITY/*.pdb.meta
EXE/UNITY/*.mdb.meta
EXE/UNITY/.vs/*

sysinfo.txt

EXE/UNITY/*.apk
EXE/UNITY/*.aab
EXE/UNITY/*.unitypackage
EXE/UNITY/*.app

EXTERN/Zlib/*
