<div class="block" style="display: block;">
    <h1>Scenes</h1>

    <div style="padding: 5px;">
        <img class="image-line-scene" src="add.png" id="create-scene" style="vertical-align: middle;"></img>
        <input type="text" id="scene-name" placeholder="Name of new scene"></input>
        <img class="image-line-scene" src="remove.png" id="remove-scene" style="vertical-align: middle; float: right;"></img>
        <img class="image-line-scene" src="save.png"   id="save-scene" style="vertical-align: middle; float: right;"></img>
        <img class="image-line-scene" src="play2.png"  id="play-scene" style="vertical-align: middle; float: right;"></img>
    </div>
    <hr>
    <ul class="device" id="sceneList">
        <!-- insert list li scene here -->
    </ul>
    <div id="message-list-box"></div>
</div>