<div id="navigation">
    <img class="image-nav" src="Logo_ICE_Immersive_blanc.png"/>
    <a class="item" href="dashboard">
        <img class="image-link" src="dashboard.png"/>
        <span class="caption">Dashboard</span>
    </a>
    <a class="item" href="devices">
        <img class="image-link" src="devices.png"/>
        <span class="caption">Devices</span>
    </a>
    <a class="item" href="scenes">
        <img class="image-link" src="scenes.png"/>
        <span class="caption">Scenes</span>
    </a>
    <a class="item" href="scripts">
        <img class="image-link" src="playlist.png"/>
        <span class="caption">Playlists</span>
    </a>
    <a class="item" href="synchro">
        <img class="image-link" src="synchro.png"/>
        <span class="caption">Synchro</span>
    </a>
    <a class="item" href="settings">
        <img class="image-link" src="settings.png"/>
        <span class="caption">Settings</span>
    </a>
</div>