<div id="navigation">
    <img class="image-nav" src="Logo_ICE_Immersive_blanc.png"/>
    <a class="item" href="groups">
        <img class="image-link" src="group.png"/>
        <span class="caption">Groups</span>
    </a>
    <a class="item" href="cinemas">
        <img class="image-link" src="cinema.png"/>
        <span class="caption">Cinemas</span>
    </a>
    <a class="item" href="features">
        <img class="image-link" src="feature.png"/>
        <span class="caption">Features</span>
    </a>
    <a class="item" href="scripts">
        <img class="image-link" src="script.png"/>
        <span class="caption">Scripts</span>
    </a>
    <a class="item" href="cpls">
        <img class="image-link" src="cpl.png"/>
        <span class="caption">Cpls</span>
    </a>
    <a class="item" href="monitoring">
        <img class="image-link" src="monitoring.png"/>
        <span class="caption">Monitor</span>
    </a>
    <a class="item" href="delivery">
        <img class="image-link" src="delivery.png"/>
        <span class="caption">Delivery</span>
    </a>
    <a class="item" href="synchro">
        <img class="image-link" src="synchro.png"/>
        <span class="caption">Synchro</span>
    </a>
    <a class="item" href="settings">
        <img class="image-link" src="settings.png"/>
        <span class="caption">Settings</span>
    </a>
</div>