<%- include ("../head") %>
<%- include ("../navigation") %>

<div class="block" id="monitor">
    <h1>SYNCHRO</h1>
    <ul class="ul-model" id="ul-monitor"></ul>
    <div id="message-box" class="success"></div>
</div>

<%- include ("../foot") %>