<div class="block" id="General">
    <h1>General</h1>

    <p class="parameters">
        &nbsp;&nbsp;<img class="image-line" src="mode.png"/>&nbsp;&nbsp;<b>MODE</b>
        <div class="btn-mode-group">
                <button class="mode" id="OFF" onclick="setMode(this)">OFF</button>
                <button class="mode" id="MANUAL" onclick="setMode(this)">MANUAL</button>
                <button class="mode" id="SYNC" onclick="setMode(this)">SYNC</button>
                <button class="mode" id="EXTERNAL" onclick="setMode(this)">EXTERNAL</button>
        </div>
        <div id="message-box-mode" class="success">

        </div>
    </p>

    <hr>

    <p class="parameters">
        &nbsp;&nbsp;<img class="image-line" src="projection.png"/>&nbsp;&nbsp;<b>PROJECTION</b>
        <div class="btn-mode-group">
            <button class="projection" id="NO_FIT" onclick="setProjection(this)">NO FIT</button>
            <button class="projection" id="FIT_X" onclick="setProjection(this)">FIT X</button>
            <button class="projection" id="FIT_Y" onclick="setProjection(this)">FIT Y</button>
            <button class="projection" id="FIT_X_PROP_Y" onclick="setProjection(this)">FIT X PROP Y</button>
            <button class="projection" id="FIT_Y_PROP_X" onclick="setProjection(this)">FIT Y PROP X</button>
            <button class="projection" id="FIT_X_FIT_Y" onclick="setProjection(this)">FIT X & Y</button>
        </div>

        <div id="message-box-projection" class="success">

        </div>
    </p>

</div>